
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealismLora</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
      /* Loading Spinner */
      .loader {
          border: 8px solid #f3f3f3; /* Light grey */
          border-top: 8px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 40px;
          height: 40px;
          animation: spin 1s linear infinite;
          display: none; /* Initially hidden */
          margin: auto; /* Center it */
      }

      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
  </style>


</head>
<body>
<!-- Navbar -->
 
<nav class="bg-gray-200">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--    
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="{% url 'home'%}"> <img class="h-8 w-auto" src="/static/images/logo2.png" alt="Your Company"> </a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="{% url 'home' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white">Home</a>
              <a href="{% url 'text' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white">Text Moderation</a>
              <a href="{% url 'image' %}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-gray-100 hover:bg-gray-900 hover:text-gray-100" aria-current="page">Image Moderation</a>
              <a href="{% url 'aboutme'%}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white">About Me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="{% url 'home' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white">Home</a>
              <a href="{% url 'text' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white">Text Moderation</a>
              <a href="{% url 'image' %}" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-gray-100 hover:bg-gray-900 hover:text-gray-100" aria-current="page">Image Moderation</a>
              <a href="{% url 'aboutme'%}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white">About Me</a>
      </div>
    </div>
  </nav>

  <!-- Home page -->

<div class="content-center justify-center ms-56 mt-12  ps-10">
    <h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Image Moderation System</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600 ps-20">Text and Image Classifier useng Natural Language Processing</p>
</div>



<!-- Image section -->
<div class= "m-12">
    <div class="col-span-full">
        <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Upload photo</label>
        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
        
          <form method="POST" action="{% url 'submit_image' %}" enctype="multipart/form-data" >
            {%csrf_token%}
        
          <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z" clip-rule="evenodd" />
            </svg>
            <div class="mt-4 flex text-sm leading-6 text-gray-600">
            <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>Upload a file</span>
                <input id="file-upload" name="inputimage" type="file" class="sr-only">
            </label>
            <p class="pl-1">or drag and drop</p>
            </div>
            <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
        </div>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-start gap-x-6">
      <button type="submit" value="submit" class="rounded-md  bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" onclick= "showLoader()" >Predict</button>  
      <div class="loader" id="loader"></div>
    </div>

    <div class="p-12">
      <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Upload photo</label>
      <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
      <img class="h-auto max-w-lg transition-all duration-300 rounded-lg cursor-pointer filter grayscale hover:grayscale-0" src="{{imageview}}">
      </div>
      <!-- <img class="h-auto max-w-full" src="{{imageview}}"> -->
    </div>

  </form>




  <div class="col-span-full mt-6">
    <label for="about" class="block text-sm font-medium leading-6 text-gray-900">Detected Text</label>
    <div class="mt-2">
      <textarea id="about" name="about" rows="2" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-6">Text : {{clean_text}}</textarea>
    </div>
    <br>
    <span class="text-base font-medium text-indigo-700 font-semibold shadow-sm">Classification : {{classification}}</span>
    <br>
    <br>
    <div class="flex justify-between mb-1">
      <span class="text-base font-medium text-blue-700 dark:text-gray-700">Approprieat</span>
      <span class="text-sm font-medium text-blue-700 dark:text-gray-700">{{probabilities_appropriate}}</span>
    </div>
    <div class="w-full bg-gray-200 rounded-full h-4 dark:bg-gray-700">
      <div class="bg-blue-600 h-4 rounded-full" style="width: {{probabilities_appropriate}} "></div>
    </div>
    <br>
    <div class="flex justify-between mb-1">
      <span class="text-base font-medium text-blue-700 dark:text-gray-700">Inapproprieat</span>
      <span class="text-sm font-medium text-blue-700 dark:text-gray-700">{{probabilities_inappropriate}}</span>
    </div>
    <div class="w-full bg-gray-200 rounded-full h-4 dark:bg-gray-700">
      <div class="h-4  bg-blue-600 rounded-full" style="width: {{probabilities_inappropriate}}"></div>
    </div>

</div>
    
</div>



<!-- About me -->


<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div id="about-me" class="relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
      <div class="max-w-xl lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Hello, I am Aakash</h2>
        <p class="mt-4 text-lg leading-8 text-gray-300">
          I am a skilled computer science professional with expertise in Python, SQL, machine learning, data visualization, web development, and project management, dedicated to leveraging data-driven insights to solve complex problems</p>
        <div class="mt-6 flex max-w-md gap-x-4">
          <label for="email-address" class="sr-only">Enter your message</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your message">
          <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Send</button>
        </div>
      </div>
      <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <a href="https://www.linkedin.com/in/aakash-mohole-231359233/">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 8.25A5.25 5.25 0 0 1 21.75 13.5v5.25h-3.75v-5.25a1.5 1.5 0 1 0-3 0v5.25H11.25v-7.5h3.75v1.125A5.25 5.25 0 0 1 16.5 8.25zM8.25 9.75v7.5H4.5v-7.5h3.75zm-.75-4.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0z" />
            </svg>
            </a>
          </div>
          <dt class="mt-4 font-semibold text-white"><a href="https://www.linkedin.com/in/aakash-mohole-231359233/">Linkedin</a></dt>
          <dd class="mt-2 leading-7 text-gray-400">Connect with me on LinkedIn to collaborate on data science, AI projects, and innovative tech solutions. Let's grow together!</dd>
        </div>
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <a href="https://github.com/aakashmohole">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.166 6.839 9.49.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.704-2.782.604-3.369-1.34-3.369-1.34-.454-1.153-1.11-1.46-1.11-1.46-.908-.62.069-.607.069-.607 1.003.07 1.53 1.03 1.53 1.03.892 1.528 2.341 1.087 2.91.831.092-.646.35-1.087.635-1.337-2.22-.252-4.555-1.11-4.555-4.944 0-1.092.39-1.985 1.03-2.683-.103-.253-.447-1.27.098-2.647 0 0 .84-.27 2.75 1.026A9.561 9.561 0 0 1 12 6.844a9.56 9.56 0 0 1 2.504.338c1.91-1.296 2.75-1.026 2.75-1.026.545 1.377.202 2.394.099 2.647.64.698 1.03 1.591 1.03 2.683 0 3.842-2.338 4.688-4.565 4.935.36.31.68.927.68 1.87 0 1.35-.012 2.44-.012 2.77 0 .268.18.58.688.481A10.013 10.013 0 0 0 22 12c0-5.523-4.477-10-10-10z" />
            </svg>
          </a>
          </div>
          <dt class="mt-4 font-semibold text-white"><a href="https://github.com/aakashmohole">GitHub</a></dt>
          <dd class="mt-2 leading-7 text-gray-400">Explore my GitHub for exciting projects in data science, AI, and web development. Let's collaborate and build together!</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
    <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>



<script>
  function showLoader() {
      document.getElementById('loader').style.display = 'block'; // Show loader
      document.getElementById('submit-btn').disabled = true; // Disable button
  }
</script>



</body>
</html>